<html lang="en" data-brk-skin="brk-dark-blue-1.css">

<head>
	<title>ZonInd - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="/../static/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/../static/favicon.ico">
	<meta name="theme-color" content="#2775FF">
	<meta name="keywords" content="themeforest, theme, html, template">
	<meta name="description" content="themeforest, theme, html, template">
	<link rel="stylesheet" id="brk-direction-bootstrap" href="/../static/css/assets/bootstrap.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" id="brk-skin-color" href="/../static/css/skins/brk-dark-blue-1.css">
	<link id="brk-base-color" rel="stylesheet" href="/../static/css/skins/brk-base-color.css">
	<link rel="stylesheet" id="brk-direction-offsets" href="/../static/css/assets/offsets.css">
	<link id="brk-css-min" rel="stylesheet" href="/../static/css/assets/styles.min.css">
</head>

<body>
	<div class="main-wrapper">
		<main class="main-container">
			<section>
				<div class="row no-gutters">
					<div class="col-12 col-lg-5 d-lg-block d-none">
						<div class="full-screen d-flex flex-column justify-content-center align-items-center z-index-2">
							<div class="brk-abs-overlay brk-bgi-3 brk-bg-pattern">
								<span class="brk-abs-bg-overlay brk-base-bg-gradient-90deg"></span>
							</div>
							<a href="{% url 'site:index' %}" class="z-index-2 mb-60 pl-15 pr-15">
								<img src="/../static/img/462x110_logo.png" alt="logo" class="">
							</a>
							<button onclick="history.back()" class="btn-backgrounds btn-backgrounds_transparent brk-base-bg-gradient-7-transperent btn-backgrounds_left-icon font__family-montserrat font__weight-normal text-uppercase font__size-13 z-index-2 text-center" style="padding-left:85px; padding-right: 60px;" data-brk-library="component__button">
								<span class="text">Volver</span>
								<span class="before"><i class="fas fa-arrow-left"></i></span>
							</button>
						</div>
					</div>
					<div class="col-12 col-lg-7">
						<div class="full-screen d-flex align-items-center pt-30 pb-30 pt-lg-0 pb-lg-0">
							<div class="container-fluid">
								<div class="row justify-content-lg-start justify-content-center">
									<div class="col-12 col-lg-10">
                                        <h1 class="title__heading-03 title__heading-main font__family-montserrat-alt font__weight-bold font__size-40 mt-0 mb-45 text-center">Recuperar Contraseña</h1>
										<form action="" method="post" class="brk-form brk-form-round maxw-570 mx-auto mx-lg-0" data-brk-library="component__form">
                                            {% csrf_token %}
											{% if form.non_field_errors %}
                                                <div class="form-group">
                                                    {{ field.label_tag }}
                                                    {{ field }}
                                                    {{ field.errors }}
                                                </div>
                                            {% endif %}

                                            {% for field in form.visible_fields %}
                                                <div class="form-group row justify-content-around col-12">
                                                    <div class="col-lg-1 mt-3 font__family-montserrat font__weight-bold font__size-18 text-center">
                                                        {{ field.label_tag }}
                                                    </div>
                                                    <div class="col-lg-9">
                                                        {{ field }}
                                                    </div>
                                                    {{ field.errors }}
                                                    <div class="helpText">{{ field.help_text|safe }}</div>
                                                </div>
                                            {% endfor %}
                                                <div class="col-12 text-center">
                                                        <button type="submit" class="btn-backgrounds btn-backgrounds btn-backgrounds_white btn-backgrounds_left-icon font__family-montserrat font__weight-bold text-uppercase font__size-13 z-index-2 text-center letter-spacing-20 mt-10" data-brk-library="component__button">
                                                            <span class="text">Enviar</span>
                                                            <span class="before"><i class="far fa-hand-point-right"></i></span>
                                                        </button>
                                                </div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	<script defer="defer" src="/../static/js/scripts.js"></script>
	<script src="/../static/vendor/jquery/js/jquery.min.js"></script>
    <script>
        jQuery('#id_email').focus();
    </script>
</body>

</html>