<html lang="en" data-brk-skin="brk-dark-blue-1.css">

<head>
	<title>ZonInd - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="/../static/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/../static/favicon.ico">
	<meta name="theme-color" content="#2775FF">
	<meta name="keywords" content="themeforest, theme, html, template">
	<meta name="description" content="themeforest, theme, html, template">
	<link rel="stylesheet" id="brk-direction-bootstrap" href="/../static/css/assets/bootstrap.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" id="brk-skin-color" href="/../static/css/skins/brk-dark-blue-1.css">
	<link id="brk-base-color" rel="stylesheet" href="/../static/css/skins/brk-base-color.css">
	<link rel="stylesheet" id="brk-direction-offsets" href="/../static/css/assets/offsets.css">
	<link id="brk-css-min" rel="stylesheet" href="/../static/css/assets/styles.min.css">
</head>

<body>
	<div class="main-wrapper">
		<main class="main-container">
			<section>
				<div class="row no-gutters">
					<div class="col-12 col-lg-5 d-lg-block d-none">
						<div class="full-screen d-flex flex-column justify-content-center align-items-center z-index-2">
							<div class="brk-abs-overlay brk-bgi-3 brk-bg-pattern">
								<span class="brk-abs-bg-overlay brk-base-bg-gradient-90deg"></span>
							</div>
							<a href="{% url 'site:index' %}" class="z-index-2 mb-60 pl-15 pr-15">
								<img src="/../static/img/462x110_logo.png" alt="logo" class="">
							</a>
							<button onclick="history.back()" class="btn-backgrounds btn-backgrounds_transparent brk-base-bg-gradient-7-transperent btn-backgrounds_left-icon font__family-montserrat font__weight-normal text-uppercase font__size-13 z-index-2 text-center" style="padding-left:85px; padding-right: 60px;" data-brk-library="component__button">
								<span class="text">Volver</span>
								<span class="before"><i class="fas fa-arrow-left"></i></span>
							</button>
						</div>
					</div>
					<div class="col-12 col-lg-7">
						<div class="full-screen d-flex align-items-center pt-30 pb-30 pt-lg-0 pb-lg-0">
							<div class="container-fluid">
								<div class="row justify-content-lg-start justify-content-center">
									<div class="col-12 col-lg-10">
                                        <h1 class="title__heading-03 title__heading-main font__family-montserrat-alt font__weight-bold font__size-40 mt-0 mb-45 text-center">Recuperar Contraseña</h1>
                                        {% if error %}
                                            <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light" role="alert" data-brk-library="component__alert">
                                                <button type="button" class="close font__size-18" data-dismiss="alert">
                                                    <span aria-hidden="true">
                                                        <i class="fal fa-times"></i>
                                                    </span>
                                                    <span class="sr-only">Cerrar</span>
                                                </button>
                                                <i class="start-icon far fa-lg fa-times-circle"></i>
                                                <strong class="font__weight-semibold">Error!!</strong>{{ error }}
                                            </div>
                                        {% endif %}
                                            <div class="row col-12 d-flex align-content-between">
                                                <div class="flex-fill">
                                                    <p class="font__family-montserrat font__weight-bold font__size-18 text-center line__height-20">
                                                        Hemos enviado un correo electrónico con las instrucciones para recuperar su contraseña
                                                    </p>
                                                </div>
                                            </div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
	<script defer="defer" src="/../static/js/scripts.js"></script>
	<script src="/../static/vendor/jquery/js/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#show').mousedown(function () {
                jQuery('#pass').attr('type', 'text');
                jQuery('#show').attr('class', 'far fa-eye-slash fa-lg');
            }).mouseup(function () {
                jQuery('#pass').attr('type', 'password');
                jQuery('#show').attr('class','far fa-eye fa-lg');
            }).mouseleave(function () {
                jQuery('#pass').attr('type', 'password');
                jQuery('#show').attr('class','far fa-eye fa-lg');
            }).on('click touchstart', function () {
                jQuery('#pass').attr('type', 'text');
                jQuery('#show').attr('class','far fa-eye fa-lg');
            });
            });
        const mobile = () => {
            if (innerWidth < 992) {
                document.getElementById('elem1').addEventListener('pointerdown', methodForPointerDown, false);
                document.getElementById('elem1').addEventListener('pointerup', methodForPointerUp, false);
            jQuery('#show').addEventListener('pointerdown')(function () {
                jQuery('#pass').attr('type', 'text');
                jQuery('#show').attr('class', 'far fa-eye-slash');

            });
            jQuery('#show').pointerup(function () {
                jQuery('#pass').attr('type', 'password');
                jQuery('#show').attr('class','far fa-eye');
            });
            jQuery('#show').pointerleave(function () {
                jQuery('#pass').attr('type', 'password');
                jQuery('#show').attr('class','far fa-eye');
            });

            }
        };
        addEventListener('DOMContentLoaded', mobile);
    </script>
</body>

</html>